INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=[YOUR TOKEN HERE]
INFLUX_ORG=myorg
INFLUX_BUCKET=mybucket

SMARTMETER_HOST=localhost:8087
SMARTMETER_USER=[POWERMETER USERNAME]
SMARTMETER_PASSWORD=[POWERMETER PASSWORD]
SMARTMETER_SSL=false
